body {
    margin: 0px;
}

.main-container {
    margin: 0px auto;
    width: 50%;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    padding: 30px 30px 100px;
    font-size: 18px;
    font-family: arial;
    height: 100%;
    text-align: center;
    line-height: 50px;
    position: fixed;
    margin-left: 25%;
    overflow-y: scroll;
    height: 511px;
}

div#chatroom {
    display: block;
    height: 300px;
    border: 1px solid #999;
    overflow: auto;
    width: 100%;
    margin-bottom: 10px;
}

ul#chat_log {
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 100%;
    line-height: 30px;
    font-weight: normal;
    height: 250px;
    overflow: auto;
}

input#chat_box {
    float: left;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

#chart svg {
    height: 400px;
}

div{
    text-align: -webkit-auto;
}

p{
    float: left;
}

div#chart {
    margin-top: 80px;
}

li {
    height: 30px;
}